//color
$black:#151515;
$dark-blue:#001940;
$blue-light:#6DBAFF;
$dark-gray:#3D3D47;
$gray:#5F5E5E;
$white:#FFFFFF;
$green:#79FA99;
$background:linear-gradient(119.98deg, #F1FC5B -50%, #6DBAFF 97.72%);

//font-family
$font-primary: "Poppins", sans-serif;
$font-title: "Merriweather Sans", sans-serif;

//breaktpoints
$bp-tablet:768px;
$bp-tablet-horizontal:1024px;
$bp-desktop:1280px;
$bp-desktop-xl:1400px;




